---
import Button from '@components/Form/Button.astro'
---

<form
	class="relative rounded-xl border border-slate-200 p-6"
	action="https://api.web3forms.com/submit"
	method="POST"
>
	<input type="hidden" name="access_key" value="b6fe20d9-bf66-45c1-aa35-ebbf3054c010" />
	<input type="hidden" name="redirect" value="https://ciobanut.com/thanks/" />

	<div class="space-y-12">
		<div class="grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-6">
			<div class="flex flex-col items-center justify-between sm:col-span-6 sm:flex-row">
				<div class="flex items-center gap-5">
					<h3 class="text-xl font-semibold">Write it here!</h3>
				</div>
				<div class="text-xs">Average Response Time: 24 Hours or Less</div>
			</div>

			<!-- Name -->
			<div class="sm:col-span-3">
				<div class="relative mt-2">
					<!-- TODO: Add autocomplete  -->
					<input
						type="text"
						id="name"
						name="name"
						autocomplete="given-name"
						required
						class="border-1 peer block w-full appearance-none rounded-lg border-slate-300 bg-transparent px-2.5 pb-2.5 pt-3 text-sm text-slate-900 focus:border-stone-600 focus:outline-none focus:ring-0"
						placeholder=" "
					/>
					<label
						for="name"
						class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm text-slate-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-stone-600"
						>Name</label
					>
				</div>
			</div>

			<!-- Email -->
			<div class="sm:col-span-3">
				<div class="relative mt-2">
					<input
						type="text"
						id="email"
						name="email"
						required
						autocomplete="email"
						class="border-1 peer block w-full appearance-none rounded-lg border-slate-300 bg-transparent px-2.5 pb-2.5 pt-3 text-sm text-slate-900 focus:border-stone-600 focus:outline-none focus:ring-0"
						placeholder=" "
					/>
					<label
						for="email"
						class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm text-slate-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-stone-600"
						>Email address</label
					>
				</div>
			</div>

			<!-- Message -->
			<div class="col-span-full">
				<div class="relative mt-2">
					<textarea
						id="message"
						name="message"
						placeholder=" "
						rows="7"
						required
						class="border-1 peer block w-full appearance-none rounded-lg border-slate-300 bg-transparent px-2.5 pb-2.5 pt-3 text-sm text-slate-900 placeholder:text-slate-400 focus:border-stone-600 focus:outline-none focus:ring-0 sm:text-sm sm:leading-6"
					></textarea>
					<span
						class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm text-slate-500 duration-300 peer-placeholder-shown:top-5 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-stone-600"
						>Message</span
					>
				</div>

				<p class="mt-3 text-sm leading-6 text-slate-600">
					Write a few sentences about your project.
				</p>
			</div>

			<!-- <div class="h-captcha" data-captcha="true"></div> -->

			<div class="col-span-full">
				<input type="checkbox" name="botcheck" class="hidden" style="display: none;" />

				<Button
					type="submit"
					title="Send Message"
					icon="ph:caret-right-bold"
					size="lg"
					variant="primary"
				/>
			</div>
		</div>
	</div>
</form>

<script src="https://web3forms.com/client/script.js" async defer></script>
