---
const { href, className, type, ...props } = Astro.props
---

{
	href ? (
		<>
			<a href={href} class={className} {...props}>
				<slot />
			</a>
		</>
	) : (
		<>
			<button type={type} class={className} {...props}>
				<slot />
			</button>
		</>
	)
}
