---
import AllSocialLinks from '@components/AllSocialLinks.astro'
---

<footer
	class="justify-center space-y-2 text-center text-xs text-slate-500 sm:space-y-5 sm:text-left"
>
	<div class="mb-3 space-y-5 sm:flex sm:items-center sm:justify-end sm:space-y-0">
		<div class="flex justify-center space-x-3">
			<AllSocialLinks />
		</div>
	</div>

	<div class="space-y-3 sm:flex sm:items-center sm:justify-between">
		<div class="">© 2023 Ciobanu Tudor</div>
		<div class="">Made in Moldova</div>
	</div>
</footer>
