---
import BaseLayout from "@layouts/Base/BaseLayout.astro";
import Header from "@components/Section/Header.astro";
import ContactForm from "@components/Form/ContactForm.astro";
import StackCard from "@components/Stack/StackCard.astro";

const pageTitle = "Contact";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <Header
      title="Let's Get in Touch!"
      icon="ph:chat-centered-text"
      desc="Wanna Work Together? I'm just a button click away, I'll be happy to help you with your Website Development!"
    />


	<div class="text-gray-900 flex justify-between my-12 flex-col md:flex-row gap-3">
		<StackCard
			iconName="ph:envelope-simple"
			title="iofesty@gmail.com"
			description="email"
		/>
		<StackCard
			iconName="ph:compass"
			title="s.Frumoasa, Calarasi, Moldova"
			description="address"
		/>
		<StackCard
			iconName="ph:phone"
			title="+373 611 89 770"
			description="phone number"
		/>
	</div>

    <ContactForm />


  </section>
</BaseLayout>
