---
import BaseLayout from '@layouts/Base/BaseLayout.astro'
import CallToAction from '@components/HomePageSections/CallToAction.astro'
import Stack from '@components/HomePageSections/MyStack.astro'
import Header from '@components/Section/Header.astro'
import GetWorks from '@components/Work/GetWorks.astro'

const pageTitle = 'Projects'
---

<BaseLayout pageTitle={pageTitle}>
	<section>
		<Header title="Projects I've Worked On!" icon="ph:briefcase" desc="Some of my works." />

		<GetWorks />
	</section>

	<Stack />

	<CallToAction />
</BaseLayout>
