---
import NavigationItem from "../components/NavigationItem.astro";
---
<nav class="flex mt-4 font-medium flex-row space-x-8 mt-0">
			<NavigationItem href="/" title="Home"/>
			<NavigationItem href="/about/" title="About"/>
			<NavigationItem href="/blog/" title="Blog"/>
			<NavigationItem href="/tags/" title="Tags"/>
</nav>