---
import Icon from "astro-icon";
const { iconName, title, description } = Astro.props;
---

<div class="flex border border-slate-200/60 rounded-lg p-3 gap-3">
	<Icon name={iconName} class="w-10 h-10 rounded-md" />
	<div class="flex flex-col gap-0">
		<h5 class="font-bold">{title}</h5>
		<span class="text-xs text-slate-600">{description}</span>
	</div>
</div>
