---
import HeaderSection from '@components/Section/Header.astro';
import GetFaqs from '@components/Faq/GetFaqs.astro';
---

<!-- Frequently Asked Questions -->
<section>
  <HeaderSection title="Frequently Asked Questions" icon="ph:question" />

  <div class="w-full sm:columns-2 gap-3 space-y-3">
    <GetFaqs />
  </div>
</section>
<!-- Frequently Asked Questions -->
